@model Townsquare.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RSVPs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RSVPs.Count)
        </dd>
        
        @if (ViewBag.Weather != null)
        {
            <dt class="col-sm-2">Väderprognos</dt>
            <dd class="col-sm-10">
                <div class="weather-info card" style="max-width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            @ViewBag.Weather.Icon @ViewBag.Weather.Description
                        </h5>
                        <p class="card-text">
                            <strong>Temperatur:</strong> @ViewBag.Weather.Temperature.ToString("F1")°C<br/>
                            <strong>Luftfuktighet:</strong> @ViewBag.Weather.Humidity.ToString("F0")%<br/>
                            <strong>Vindhastighet:</strong> @ViewBag.Weather.WindSpeed.ToString("F1") km/h<br/>
                            <small class="text-muted">Data från Open-Meteo API</small>
                        </p>
                    </div>
                </div>
            </dd>
        }
        else
        {
            <dt class="col-sm-2">Väderprognos</dt>
            <dd class="col-sm-10">
                <span class="text-muted">Väderinformation inte tillgänglig</span>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
